---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <ul>
    <li><a href="/ssr">SSR Page</a></li>
    <li><a href="/isr">ISR Page</a></li>
    <li><a href="/isr/server-island">ISR Page with Server Island</a></li>
    <li><a href="/server-island">Pre Rendering Page with Server Island</a></li>
  </ul>
</Layout>
